/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../src/assets/principal/material.min.scss";

$fa-font-path : "~@fortawesome/fontawesome-free-webfonts/webfonts";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands.scss";

.mat-form-field {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'sans-serif';
}

.mat-menu-panel {
  background-color: #005978;
}
.mat-button, .mat-icon-button, .mat-stroked-button {
  color: inherit;
  font-size: 22px;
  background: 0 0;
}

.mat-flat-button {
  color: white;
  background-color: #007493;
}
