
<h3>Cadastro de Clientes</h3>

<form [formGroup]="formularioCliente">


  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col">
        <mat-form-field appearance="outline">
          <mat-label>Codigo</mat-label>
          <input matInput formControlName="id">
        </mat-form-field>
    </div>


    <div class="mdl-cell mdl-cell--3-col">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome">
        <mat-error *ngIf="formularioCliente.get('nome').hasError('required')">Campo obrigatorio</mat-error>
      </mat-form-field>
    </div>

    <div class="mdl-cell mdl-cell--3-col">
      <mat-form-field appearance="outline">
        <mat-label>CPF</mat-label>
        <input matInput formControlName="documento" type="number">
        <mat-error *ngIf="formularioCliente.get('documento').hasError('required')">Campo obrigatorio</mat-error>
      </mat-form-field>
    </div>

    <div class="mdl-cell mdl-cell--2-col">
      <mat-form-field appearance="outline">
        <mat-label>Telefone</mat-label>
        <input matInput formControlName="telefone" type="tel">
      </mat-form-field>
    </div>

    <div class="mdl-cell mdl-cell--4-col">
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
    </div>

    <div class="mdl-cell mdl-cell--3-col">
      <mat-form-field appearance="outline">
        <mat-label>Endereço</mat-label>
        <input matInput formControlName="endereco">
      </mat-form-field>
    </div>

    <div class="mdl-cell mdl-cell--3-col">
      <mat-form-field appearance="outline">
        <mat-label>Cidade</mat-label>
        <input matInput formControlName="cidade">
      </mat-form-field>
    </div>

    <div class="mdl-cell mdl-cell--2-col">
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>UF</mat-label>
            <mat-select formControlName="estado">
              <mat-option>Selecione uma UF</mat-option>
              <mat-option *ngFor="let state of states" [value]="state">{{state}} </mat-option>
            </mat-select>
          </mat-form-field>
    </div>

    <div class="mdl-cell mdl-cell--1-col">
      <mat-form-field appearance="outline">
        <mat-label>Limite Compra</mat-label>
        <input matInput formControlName="limite" type="number">
        <mat-error *ngIf="formularioCliente.get('limite').hasError('required')">Campo obrigatorio</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col">
      <button mat-raised-button color="primary" type="button" (click)="onSubmit()"
        [disabled]="formularioCliente.invalid" routerLink="../listacli" >Salvar</button>
    </div>
    <div class="mdl-cell mdl-cell--2-col">
        <button mat-raised-button color="primary" type="button"  routerLink="listacli" >Listar Clientes</button>
    </div>
  </div>

</form>

<router-outlet></router-outlet>
