<form [formGroup]="formularioFarmaceutico">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col">
        <mat-form-field appearance="outline">
          <mat-label>Codigo</mat-label>
          <input matInput formControlName="codigo">
        </mat-form-field>
    </div>


    <div class="mdl-cell mdl-cell--3-col">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome">
        <mat-error *ngIf="formularioFarmaceutico.get('nome').hasError('required')">Campo obrigatorio</mat-error>
      </mat-form-field>
    </div>
    <div class="mdl-cell mdl-cell--2-col">
      <mat-form-field appearance="outline">
        <mat-label>Telefone</mat-label>
        <input matInput formControlName="telefone" type="tel">
      </mat-form-field>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
    </div>
  </div>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col">
      <button mat-raised-button color="primary" type="button" (click)="onSubmit()"
        [disabled]="formularioFarmaceutico.invalid">Salvar</button>
    </div>
    <div class="mdl-cell mdl-cell--3-col">
        <button mat-raised-button color="primary" type="button" (click)="listaFarmaceutico()">Listar Farmaceuticos</button>
    </div>
    <div class="mdl-cell mdl-cell--2-col">
        <button mat-raised-button color="primary" type="button" (click)="editaFarmaceutico()"
          [disabled]="formularioFarmaceutico.invalid">Editar Cadastro</button>
    </div>
    <div class="mdl-cell mdl-cell--2-col">
        <button mat-raised-button color="primary" type="button" (click)="excluiFarmaceutico()"
          [disabled]="formularioFarmaceutico.invalid">Excluir</button>
    </div>
  </div>

  <!-- <button type="button" (click)="onSubmit()">Salvar</button> -->
</form>
