<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col" *ngFor='let produto of produtos'>
    <div class="produto">
      <div class='imagem'>
        <img src="../../../../assets/icons/remedio.jpg" alt="genérico" class="img">
      </div>
      <div class="descricaoProduto">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col">
            <span>Nome:</span> {{ produto.nome }}
          </div>
          <div class="mdl-cell mdl-cell--12-col">
            <span>Preço:</span> {{ produto.preco }}
          </div>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
          <button mat-raised-button (click)='adicionaCarrinho()'>Adicionar ao carrinho
            <i class="fas fa-cart-plus" style="font-size: 25px" ></i>
          </button>
        </div>
      </div>
    </div>
  </div>

