// div button {
//   color: white;
//   background-color: #005978;
// }
div button:hover {
  background-color: #007493;
}

div div .produto{
  border: 1px solid gainsboro;
  box-shadow: 2px 2px 5px gainsboro;
}

div div .produto:hover {
  box-shadow: 2px 2px 5px #005978;
}
