<h3>Cadastro de Produtos</h3>

<form [formGroup]="formularioProduto">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--8-col">
      <mat-form-field appearance="outline" class="example-full-width">
        <input matInput placeholder="Nome" formControlName="nome">
        <mat-error *ngIf="formularioProduto.get('nome').hasError('required')">
          Nome é obrigatório
        </mat-error>
      </mat-form-field>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
      <mat-form-field appearance="outline" class="example-full-width">
        <input matInput placeholder="Código barras" formControlName="codigoBarras">
      </mat-form-field>
    </div>
    <div class="mdl-cell mdl-cell--2-col">
      <mat-form-field appearance="outline" class="example-full-width">
        <input matInput placeholder="Preço" formControlName="preco">
      </mat-form-field>
    </div>
    <div class="mdl-cell mdl-cell--2-col">
      <mat-form-field appearance="outline" class="example-full-width">
        <input matInput placeholder="Quantidade" formControlName="qtd">
      </mat-form-field>
    </div>
    <div class="mdl-cell mdl-cell--8-col">
      <mat-form-field  appearance="outline" class="example-full-width">
        <input
          placeholder="Fornecedor"
          aria-label="Number"
          matInput
          [matAutocomplete]="auto"
          formControlName="fornecedor">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="formatter">
          <mat-option *ngFor="let fornecedor of fornecedoresFiltrados | async" [value]="fornecedor">
            {{fornecedor.nome}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="mdl-cell mdl-cell--2-col">
      <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="formularioProduto.invalid"  >Salvar</button>
    </div>
    <div class="mdl-cell mdl-cell--3-col">
      <button mat-raised-button color="primary" type="button" routerLink="listaprodu">Listar Produtos</button>
  </div>
  </div>
</form>
